/* ALERTE */
.alerte { text-align: center; padding-top: 10px; padding-bottom: 10px;}
.succes { background-color: $bsucces; color: $fsucces; }
.info { background-color: $binfo; color: $finfo;}
.danger { background-color: $bdanger; color: $fdanger}
.avertissement { background-color: $baver; color: $faver; border: 1px dashed red; }
