.ann {
  & .container {
    & > div {
      height: auto;
    }
    display: inline-block;
    vertical-align: top;
    width: 45%;
    @media screen and(min-width: 0px) {
      display: block;
    }
    @media screen and(min-width: 600px) {
      display: inline-block;
    }
    @media screen and(min-width: 1000px) {
      display: inline-block;
    }
    & .info-vendeur {
      & p:not(:last-child) {
        padding-top: 2%;
      }
      & p:first-child {
        color: red;
      }
      & img {
        margin: 0 6%;
        cursor: pointer;
      }
    }
  }
}
