/* BOUTON */
button { border: 1px solid black; margin-top: 1px; margin-bottom: 1px;

 &.btn { border: 1px solid $fcolor;}
 &.btn:hover { border: 1px solid $fcolor; background-color: $fcolor; color: white; cursor: pointer; }
 &.btn-blue { background-color: blue; border: 1px solid blue; color: white; }
 &.btn-red { background-color: red; border: 1px solid red; color: white; }
 &.btn-yellow { background-color: yellow; border: 1px solid yellow; color: black; }
 &.btn-green { background-color: green; border: 1px solid green; color: white; }
 &.btn-black { background-color: black; border: 1px solid black; color: white; }
 &.btn-pink { background-color: pink; border: 1px solid pink; color: black; }
 &.btn-purple { background-color: purple; border: 1px solid purple; color: white; }
 &.btn-grey { background-color: gray; border: 1px solid gray; color: white; }
 &.btn-brown { background-color: brown; border: 1px solid brown; color: white; }
 &.btn-orange { background-color: orange; border: 1px solid orange; color: white; }

 &.small { border-radius: 0.4em; font-size: $button_small_size; padding: 1px 5px; }
 &.large { border-radius: 0.2em; font-size: $button_large_size; padding: 2px 10px; }
 &.extralarge { width: 100%; }
 &.flat { border: 0px; border-radius: 0em;}
 &.fancy
    {
    color: white;
    box-shadow: 5px 5px 1px #343434;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-image:radial-gradient($degrade1, $degrade2);
    }
  &.fancy:hover
    {
    color: white;
    box-shadow: 5px 5px 1px #343434;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    background-image:radial-gradient($degrade2, $degrade1);
  }
}
