.container {
  & > div {
    height: auto;
  }
  & .zone {
    background-color: $fcolor;
    border: 1px solid black;
    & .for {
      padding-top: 10px;
      & > div > .inp{
          font: 1em sans-serif;
          box-sizing: border-box;
          border: 1px solid #999;
      }

      & .lab {
        border: 1px solid black;
        background-color: white;
        padding: 2px;
      }

      & .des{
        border: 1px solid black;
        background-color: white;
        padding: 2px;
        vertical-align: top;
      }
    }
    & label {
        display: inline-block;
        @media screen and(min-width: 0px) {
          margin: 1% 0;
        }
        @media screen and(min-width: 600px) {
          margin: 1% 0;
        }
        @media screen and(min-width: 1000px) {
          margin: 1% 0;
        }
    }
    & .btn-white {
      @media screen and(min-width: 0px) {
        margin-top: 13%;
      }
      @media screen and(min-width: 600px) {
        margin-top: 5%;
      }
      @media screen and(min-width: 1000px) {
        margin-top: 5%;
      }
      & :hover {
        background-color: black;
        color: white;
      }
    }
  }
}
