.container {
  & > div {
    height: auto;
  }
  & .zone {
    background-color: $fcolor;
    border: 1px solid black;
    & .for {
      padding-top: 10px;
      & > div > .inp{
          font: 1em sans-serif;
          box-sizing: border-box;
          border: 1px solid #999;
      }
      & .bud {
        @media screen and(min-width: 0px) {
          display: inline-block;
        }
        @media screen and(min-width: 600px) {
          display: block;
        }
        @media screen and(min-width: 1000px) {
          display: block;
        }
      }
      & .lab {
        border: 1px solid black;
        background-color: white;
        padding: 2px;
      }
      & .lab2 {
        border: 1px solid black;
        color: white;
        padding: 2px;
        margin: 0 0.5%;
      }
    }
    & label {
        display: inline-block;
        @media screen and(min-width: 0px) {
          margin: 1% 0;
        }
        @media screen and(min-width: 600px) {
          margin: 0;
        }
        @media screen and(min-width: 1000px) {
          margin: 0;
        }
    }
    & .btn-white:hover {
      background-color: black;
      color: white;
    }
  }
}

.tableau {
  margin-left: 5%;
  width: 90%;
  & > tbody > tr {
    height: 100%;
    & > td {
      @media screen and(min-width: 0px) {
        display: block;
      }
      @media screen and(min-width: 600px) {
        display: inline-block;
      }
      @media screen and(min-width: 1000px) {
        display: inline-block;
      }
    }
  }
  & > tbody > tr > .dat {
      vertical-align: top;
      padding-top: 2%;
      border-style: hidden;
      @media screen and(min-width: 0px) {
        width: 100%;
      }
      @media screen and(min-width: 600px) {
        width: 10%;
      }
      @media screen and(min-width: 1000px) {
        width: 10%;
      }
  }
  & > tbody > tr > .img {
    @media screen and(min-width: 0px) {
      width: 100%;
    }
    @media screen and(min-width: 600px) {
      width: 20%;
    }
    @media screen and(min-width: 1000px) {
      width: 20%;
    }
    border-style: hidden;
    & > img {
      height: 100px;
      margin-top: 5%;
    }
  }
  & > tbody > tr > .des {
    @media screen and(min-width: 0px) {
      width: 90%;
    }
    @media screen and(min-width: 600px) {
      width: 60%;
    }
    @media screen and(min-width: 1000px) {
      width: 60%;
    }
    vertical-align: top;
    padding-top: 2%;
    border-style: hidden;
    & > h2 {
      margin-bottom: 2%;
    }
    & > p {
      text-align: right;
      color: red;
      margin-top: 2%;
    }
  }
}
